//Colors

$pink-flamingo: #ca66fa;
$midnight-blue: #2d2346;
$messages: rgb(0,191,73);

//Fonts

@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
$font-titles: 'Roboto', sans-serif;