@charset "utf-8";
@import "variables";

//Background color

body {
  background-color: $midnight-blue;
  color: white;
  font-family: $font-titles;
  margin: 0;
}

//Containers

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

//Cover Image

#cover {
  margin-top: 4vh;
  width: 100%;
  max-width: 453px;
  height: auto;
}

//Location

.location {
  color: rgb(122, 122, 122);
  padding: 5px;
  font-size: 0.8em;
  text-align: center;
  margin: 10px 0;
}

//Container Bubbles

@media only screen and (max-width: 450px) {
  .container-bubbles {
    width: 90% !important;
  }
}

.container-bubbles {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

//Bubbles

%bubbles-left {
  position: relative;
  border-radius: 0.4em;
  max-width: 300px;
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 15px;
  background: $pink-flamingo;
  width: auto;
}

%bubbles-right {
  position: relative;
  border-radius: 0.4em;
  max-width: 300px;
  margin-right: 10px;
  margin-left: auto;
  margin-bottom: 15px;
  background: $messages;
  width: auto;
}

%bubbles-after-left {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: $pink-flamingo;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -20px;
}

%bubbles-after-right {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: $messages;
  border-right: 0;
  border-top: 0;
  margin-top: -10px;
  margin-right: -20px;
}

//Welcome Bubble

.welcome-bubble {
  @extend %bubbles-left;
}

.welcome-bubble p {
  padding: 10px;
}

.welcome-bubble:after {
  @extend %bubbles-after-left;
}

//First Bubble

.speech-bubble {
  @extend %bubbles-left;
  animation-delay: 0.7s;
}

.speech-bubble p {
  padding: 10px;
}

.speech-bubble:after {
  @extend %bubbles-after-left;
}

//Second Bubble

.speech-bubble-2 {
  @extend %bubbles-right;
  animation-delay: 1.8s;
}

.speech-bubble-2 p {
  padding: 10px;
}

.speech-bubble-2:after {
  @extend %bubbles-after-right;
}

//Third Bubble

.speech-bubble-3 {
  @extend %bubbles-left;
}

.speech-bubble-3 p {
  padding: 10px;
}

.speech-bubble-3:after {
  @extend %bubbles-after-left;
}

//Fourth Bubble

.speech-bubble-4 {
  @extend %bubbles-right;
  animation-delay: 5s;
}

.speech-bubble-4 p {
  padding: 10px;
}

.speech-bubble-4:after {
  @extend %bubbles-after-right;
}

//Fifth Bubble

.speech-bubble-5 {
  @extend %bubbles-left;
  animation-delay: 6.5s;
}

.speech-bubble-5 p {
  padding: 10px;
}

.speech-bubble-5:after {
  @extend %bubbles-after-left;
}

//Sixt Bubble

.speech-bubble-6 {
  @extend %bubbles-right;
  animation-delay: 7s;
}

.speech-bubble-6 p {
  padding: 10px;
}

.speech-bubble-6:after {
  @extend %bubbles-after-right;
}

//Seventh Bubble

.speech-bubble-7 {
  @extend %bubbles-left;
  animation-delay: 7.8s;
}

.speech-bubble-7 p {
  padding: 10px;
}

.speech-bubble-7:after {
  @extend %bubbles-after-left;
}