@charset "utf-8";
@import "variables";

//Background color

body {
  background-color: $midnight-blue;
  color: white;
  font-family: $font-titles;
  margin: 0;
}

//Containers

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

//Cover Image

#cover {
  margin-top: 4vh;
  width: 100%;
  max-width: 453px;
  height: auto;
}

//Location

.location {
  color: rgb(122, 122, 122);
  padding: 5px;
  font-size: 0.8em;
  text-align: center;
}

//Icon

#icon-weather {
  text-align: center;
}

//Container Bubbles

@media only screen and (max-width: 1200px) {
  .container-bubbles {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
}

.container-bubbles {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 4vh;
}

//Bubbles

%bubbles-left {
  position: relative;
  border-radius: 0.4em;
  min-width: 150px;
  max-width: 300px;
  margin-right: auto;
  margin-bottom: 30px;
  transition: transform 0.2s;
  background: $pink-flamingo;
  width: auto;
}

%bubbles-right {
  position: relative;
  border-radius: 0.4em;
  min-width: 150px;
  max-width: 300px;
  margin-left: auto;
  margin-bottom: 30px;
  transition: transform 0.2s;
  background: $messages;
  width: auto;
}

%bubbles-after-left {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 21px solid transparent;
  border-top-color: $pink-flamingo;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10.5px;
  margin-bottom: -21px;
}

%bubbles-after-right {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 21px solid transparent;
  border-top-color: $messages;
  border-bottom: 0;
  border-right: 0;
  margin-left: -10.5px;
  margin-bottom: -21px;
}

//First Bubble

.speech-bubble {
  @extend %bubbles-left;
}

.speech-bubble:hover {
  transform: scale(1.1);
}

.speech-bubble p {
  padding: 10px;
}

.speech-bubble:after {
  @extend %bubbles-after-left;
}

//Second Bubble

.speech-bubble-2 {
  @extend %bubbles-right;
}

.speech-bubble-2:hover {
  transform: scale(1.1);
}

.speech-bubble-2 p {
  padding: 10px;
}

.speech-bubble-2:after {
  @extend %bubbles-after-right;
}

//Third Bubble

.speech-bubble-3 {
  @extend %bubbles-left;
}

.speech-bubble-3:hover {
  transform: scale(1.1);
}

.speech-bubble-3 p {
  padding: 10px;
}

.speech-bubble-3:after {
  @extend %bubbles-after-left;
}

//Fourth Bubble

.speech-bubble-4 {
  @extend %bubbles-right;
}

.speech-bubble-4:hover {
  transform: scale(1.1);
}

.speech-bubble-4 p {
  padding: 10px;
}

.speech-bubble-4:after {
  @extend %bubbles-after-right;
}

//Fifth Bubble

.speech-bubble-5 {
  @extend %bubbles-left;
}

.speech-bubble-5:hover {
  transform: scale(1.1);
}

.speech-bubble-5 p {
  padding: 10px;
}

.speech-bubble-5:after {
  @extend %bubbles-after-left;
}

//Sixt Bubble

.speech-bubble-6 {
  @extend %bubbles-right;
}

.speech-bubble-6:hover {
  transform: scale(1.1);
}

.speech-bubble-6 p {
  padding: 10px;
}

.speech-bubble-6:after {
  @extend %bubbles-after-right;
}
